* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bage: #A39894;
  --black: #171717;
  --blue: #1EA1C8;
  --dark-blue: #416BC8;
  --purple: #6647E1;
  --white: #ffffff;
  --gray: #6A6C6D;
}

.background {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right bottom, var(--black), #000000);
  padding: 25px 0;
}

.cv-container {
  width: 65%;
  min-height: 200px;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  backdrop-filter: blur(35px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);

  margin: auto;
  padding: 30px 50px 65px 50px;

  overflow: hidden;
}

.wrapper {
  border: 1px solid red;
}

.header {
  border: 1px solid blue;
  width: 100%;
  min-height: 200px;
}

.header-wraper {
  display: flex;
  justify-content: space-between;
}

.header-article {
  display: block;
  border: 1px solid green;
  width: 33.3%;
  height: 100%;
}